#root{
  width: 100%;
  margin: 0;
}

.navbar {
  background-color: #213e60;
  overflow: hidden; 
  width:100%;
  z-index: 1000;
}

.nav-list {
  display: flex;
  justify-content: flex-start; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-list li {
  display: inline-block;
  flex: 1;
  
}

.nav-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-list li a:hover {
  background-color: #F0F7F9;
  color: black;
}

.sub-menu {
  display: none; 
  position: absolute;
  background-color: #F0F7F9; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
  margin: 0; 
  padding: 0; 
  width: inherit;
}

.nav-list li:hover .sub-menu {
  display: block; 
}

.sub-menu li {
  display: block;
}

.sub-menu li a {
  color: #333; 
  text-decoration: none;
  text-align: left;
}

.sub-menu li a:hover {
  background-color: #213e60;
  color: #fff;
}

.nav-item {
  position: relative;
}