

form {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

input,
label {
  margin: 0;
  padding: 0;
}

  label{
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
    color: #213E60;
    width: 400px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="data"]{
    display: block;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42;
    color: #213E60;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  button{
    background-color: #213E60;
    color: #fff;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .longtextinput {
    display: block;
    font-family: inherit;
    height: 50px;
    min-height: 50px;
    max-width: 400px;
    min-width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42;
    color: #213e60;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  
  
  .file-upload-input {
    display: none;
    align-items: center;
  }
  
  /* Style the label element */
  .file-upload-label {
    display: flex; 
    align-items: center; 
    cursor: pointer;
    padding: 15px; 
    border: none;
    border-radius: 5px;
    background-color: #F0F7F9;
    color: #213e60;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    max-width: 400px;
  }
  
  /* Style the file upload icon */
  .file-upload-icon {
    width: 50px; 
    height: 50px; 
    margin-right: 10px; 
  }