.page-header{
    font-size: 28px;
    font-style: bold;
    margin-top: 2%;
    margin-left: 43%;
}
.jl-centered-container {
   margin-top: 1%;
    display: flex;
    justify-content: center; /* Aligns items horizontally */
    align-items: center; /* Aligns items vertically */
    overflow-y: auto;
}


