
.proposalReceivedH1{
    margin-bottom: 50px;
    font-family: inherit;
    font-size: 25px;
    color: #213e60;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;

}

.proposalPreview{
    display: block;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    color: #213e60;
    background-color: #F0F7F9;
    box-shadow: 0 4px 6px rgba(33, 62, 96, 0.2);
    width: auto;
    height: auto;
}

.freelancerProfileLink {
    color: #69ACC2;
    text-decoration: none;
    font-weight: bold;
  }

  .proposalDetailsLink {
    color: #213e60;
    text-decoration: none;
  }

  .proposalGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    grid-gap: 20px; 
    margin: 50px;
  }

  .proposalAccpet {
    background-color: #213E60;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 7px;
    font-weight: bold;
    margin-top: 10px;
    min-width: 75px;
    flex: 1;
  }

  .proposalReject {
    background-color: #cc1616;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 7px;
    font-weight: bold;
    margin-top: 10px;
    min-width: 75px;
    margin-left: 50px;
    flex: 1;
  }

  .assignmentButtonContainer{
    display: flex;
    align-items: center;
  }