.confirmation-dialog-container {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
  }
  
  .confirmation-dialog-modal {
    width: 50% !important; 
  }
  
  .confirmation-dialog-modal-body {
    padding: 30px;
  }
  
  .confirmation-dialog-modal-icon {
    color: #213E60 !important;
  }
  
  .confirmation-dialog-modal-message {
    color: #213E60;
  }
  
  .confirmation-dialog-modal-button-confirm {
    color: #F0F7F9 !important;
    border: 0px;
    border-radius: 8px !important;
    background-color: #213E60;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
  }
  
  .confirmation-dialog-modal-button-confirm:hover {
    color: #213E60 !important;
    background-color: #90e0ef;
    transform: scale(1.1);
  }
  
  .confirmation-dialog-modal-button-cancel {
    color: #213E60 !important;
    border: 0px;
  }
  
  .confirmation-dialog-modal-button-cancel:hover {
    color: #F0F7F9 !important;
    background-color: black;
    border-radius: 8px;
  }