.footer-container{
    background-color: #F0F7F9;
    padding: 30px;
    
}

.footer-copyright{
    color: #213e60;
    font-size: medium;
    margin-left: 20px;
    transition: all 0.5s;
}

.footer-copyright :hover{
    color: #90e0ef;
    font-weight: bold;
    scale:1.05;
    text-decoration: None;
}

.footer-link-contact{
    color: #213e60;
    font-size: medium;
    margin-left: 1150px;
    transition: all 0.3s;
}

.footer-link-contact :hover{
    color: #90e0ef !important;
    text-decoration: None;
    font-weight: bold;
    scale:1.05;
}