*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centered-container {
    display: flex;
    justify-content: center; /* Aligns items horizontally */
    align-items: center; /* Aligns items vertically */
    overflow-y: auto;
}

.card{
    width:700px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding:20px;
    background-color:#F0F7F9;
    display: flex;
    box-shadow: rgba(0,0,0,0.30) 0px 1px 3px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.posted-status{
    margin-top: 20px;
    font-style: italic;
    color: green;
}
.posted-date{
    font-style: italic;
    color: grey;
}

.card:hover{
    box-shadow:rgba(0,0,0,0.24)0px 3px 8px;
}

.card.selected {
    background-color:#e7f9ff ;
    ; /* Updated background color when selected */
  }

.card h2{
    font-size: 22px;
}
.card p{
    font-size: 16px;
}

.hover-profileLink {
    font-size: 18px;
    color: black; /* Set the text color */
    text-decoration: none;
     /* Remove default underline */
     
}

.hover-profileLink:hover {
    text-decoration: underline; /* Add underline on hover */
}
.optionBtn-container{
    right: 0;
}
  .option-button {
    cursor: pointer;
    border-radius: 999999px;
    padding: 1px;
    position: absolute;
    right: 10px;
  }
  
  .pa-options-dropdown {
    padding:5px;
    position: absolute;
    top:20%;
    right: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  

  
  .option-button:hover,.pa-options-dropdown:hover  {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .pa-options li:hover{
    background-color: #eaeaea;
  }

  .icon-style{
    margin-top: 5px;
    margin-right: 3px;
}
.icon-style2{
    margin-top: 2px;

}

.payment-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
  }

 .payment-content {
  background-color: white;
 
  padding: 20px;
  border-radius: 8px;
  width: 560px;
  height: 350px;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  
}

.modal-title {
  color: red;
  margin-bottom: 3%;
  flex-grow: 1; /* Make the title take available space */

}
.select{
  margin-bottom: 2%;
}

.paymentSuccess-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
}

.paymentSuccess-content {
background-color: white;
padding: 20px;
border-radius: 8px;
width: 550px;
height: 200px;
justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
}

.centre{
  margin-top: 10%;
  color: green;margin-bottom: 3px;
}
.button-container {
  display: flex;
  flex-direction: column; /* Change flex direction to column */
}

.payment-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.payment-button span {
  margin-right: 10px;
}
.payment-button:hover,.payment-button.selected ,.pay-button:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.payment-button img {
  width: 100px; /* Adjust the size as needed */
  height: 35px; /* Adjust the size as needed */
}

.pay-button {
  width: 120px;
  height: 40px;
  display: flex; /* Add display flex */
  align-items: center;
  justify-content: center; /* Center horizontally */
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #213E60;
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: 195px;
  color: #ffffff;
}

.payment-button.selected {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add shadow effect for selected state */
}

.close-btn{
margin-left: 500px;
}


.confirmation-modal-overlay,.success-modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  
}

.processing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.spinner {
  margin-top: 90px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

.processing-text {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
}

.confirmation-modal-content,.success-modal-content{
background-color: white;
padding: 20px;
border-radius: 8px;
width: 560px;
height: 220px;
justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */

}
.confirmation-buttons{
  max-width: 500px;
  margin-top: 5%;
  display: flex; /* Use flexbox to arrange buttons horizontally */
  justify-content: space-evenly; /* Spread buttons apart */
}
.confirmation-content{
  margin-top: 50px;
}

.delete-message{
  margin-left: 35%;
  margin-top: 15%;
  color: green;
  font-size: 18px;
}

.btn-primary:hover,.btn-secondary:hover{
  box-shadow:rgba(0,0,0,0.24)0px 3px 8px;
}

.btn-primary{
  background-color: #213E60;
  padding:9px 28px; /* Adjust padding to increase button size */
  border: none; /* Remove default border */
  font-size: 16px;
  color: white;
  border-radius: 8px; 
  cursor: pointer; /* Change cursor to pointer on hover */
  margin-bottom: 3rem;
}
.btn-secondary{
  background-color: red;
  padding:9px 28px; /* Adjust padding to increase button size */
  border: none; /* Remove default border */
  font-size: 16px;
  color: white;
  border-radius: 8px; 
  cursor: pointer; /* Change cursor to pointer on hover */
  margin-bottom: 3rem;
}

#confirm-message{
  margin-left: 15%;
}