

.applicationDetailsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}


.FilesAttachedContainer {
  margin-top: 20px;
  padding: 20px;
}

.applicationSubLabel {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}