.pdf-preview {
  width: 100%;
  height: 100%;
}

.pdf-preview .previewImage {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.previewImage:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.pdf-preview p {
  margin-top: 5px;
  font-size: 14px;
  color: #213E60;
  text-align: center;
  margin-top: 10px;
}
