
.parent-container{
    
    display: grid;
    grid-template-columns: auto 1fr; /* Change the order of columns to display project list first and then project details */
    gap: 20px; /* Add some gap between the columns */
    padding: 0px 20px 20px ; /* Add padding for spacing */
    min-height: 100vh; /* Make the container fill the height of the viewport */
    overflow: hidden; /* Hide any overflow content */
}

.FreelancerExplore.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
    justify-content: flex-start; /* Justify content to the start */
    min-height: 100vh; /* Make the container fill the height of the viewport */
    padding-top: 10px; /* Add some padding at the top */
}

.noprojectcard{
    position: relative;
    display: flex; /* Add this */
    flex-direction: column;
    justify-content: center; /* Add this */
    align-items: center; /* Modify this */
    padding:2%;
    background-color:#F0F7F9;
    box-shadow: rgba(0,0,0,0.30) 0px 1px 3px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 1rem;
    width: 900px;
    height:230px;
}

.card:hover{
    box-shadow:rgba(0,0,0,0.24)0px 3px 8px;
    
}

.card.selected {
    background-color: #C5E1EB; /* Updated background color when selected */
  }

.card h2{
    font-size: 22px;
}
.card p{
    font-size: 16px;
}

#category{
    margin-bottom: 0.5rem;
}



.hover-profileLink:hover {
    text-decoration: underline; /* Add underline on hover */
}

.project-details{
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
    width: 500px;
    background-color: white;
}



.project-details a,
.project-details p {
    margin-bottom: 0.5rem; /* Add spacing between each element inside project details */
    display: flex;
}

.project-details a{
    font-size: 24px;
}
#category{
margin-bottom: 1.5rem;
}
#preferredQualification{
    font-size: 18px;
}

#about-the-project,#key-requirement,#preferredQualification{
    margin-top: 1.5rem;
}

#p-title{
   font-size: 36px; 

}

.jl-profileLink{
    font-size: 24px;
}



.list{
    margin-left: 1rem;
    list-style-type: disc; /* This will give you filled dots */

}
.btn-primary{
    background-color: #213E60;
    padding:9px 28px; /* Adjust padding to increase button size */
    border: none; /* Remove default border */
    font-size: 16px;
    color: white;
    border-radius: 8px; 
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-bottom: 3rem;
}
.btn:hover {
    background-color:#6fb9d1; /* Change background color on hover */
}

#applyButton{
    margin-top: 5%;
}

#detail-title{
    font-size: 28px;
    color: black; /* Set the text color */
}

.icon-style{
    margin-top: 3px;
    margin-right: 3px;
}


.modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: flex-end; /* Align modal to the right */
    align-items: center;
    z-index: 99999;
    
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
    height: 100%;
    max-width: 600px; /* Limit the maximum width of the modal content */
   
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}


.jl-close-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.view-application-header{
    font-size: 30px;
}

.btn-disabled{
    background-color: #BEBEBE;
    padding:9px 28px; /* Adjust padding to increase button size */
    border: none; /* Remove default border */
    font-size: 16px;
    color: black;
    border-radius: 8px; 
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-bottom: 3rem;
}

