.FreelancerProfile{
    overflow: hidden;
}

.FreelancerProfile .leftProfile{
    display: block;
}

.FreelancerProfile .pic_container{
    padding: 10px;
}

.FreelancerProfile .profile{
    width: 400px;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 6px;
    margin: 0px 40px 40px 100px;
    padding-bottom: 20px;
}

.profile img{
    height:250px;
    width:250px;
    border-radius: 100%;
    background:white;
    margin: 50px 0px 0px 65px;
}

.text{
    padding-left: 50px;
    text-align: left;
    margin-bottom: 0px;
    flex-grow: 2;
    display: block;
}

.text .name-location {
    margin-top: 20px;
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
}

.name{
    font-size:24px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 20px;
}

.job{
    font: size 12px;
    color: #69acc2;
    margin-top: 0;
}

.rating{
    margin-left: 60px;
    font-size: 12px;
}

.rate {
    font-size: 50px;
    width:88%;
}

.location{
    display: flex;
    font-size: 12px;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.location .markerIcon{
    font-size: 10px;
    padding-right: 2px;
}

.profile button{
    margin:20px 0px 0px 135px;
    border: rgb(255,255,255);
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}

.profile button:hover{
    cursor: pointer;
    background: rgb(105,172,194);
}

/*Lower Profile*/
.lowerProfile{
    width: 100vw;
}

.Card2{
    position: relative;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, .2); */
    background: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0px 40px 40px 40px;
    width: calc(100vw-20px);
}

.Card2 .title{
    color:#213e60
}

.nav-links{
    display:flex;
    gap: 32px;
    list-style: none;
    font-size: 24px;
}

a {
    color: #213e60;
    text-decoration: none;
    text-decoration-color: white;
    border-radius: 8px;
    justify-content: space-around;
}

a:hover{
    color:grey;
    text-decoration: underline;
    text-underline-offset: 16px;
    text-decoration-color: rgb(181,181,181);
}
.profileNav{
    padding-left: 50px;
}

.profileNav h3{
    text-align: left;
    padding:20px 0px 0px 20px;
}

.profileNav p{
    text-align: left;
    padding: 0px 40px 0px 40px;
} 

/* About */
#about{
    position: relative;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 0px 40px;
    width:100%;
}

.about_text{
    margin:0px;
    padding:0px;
}

.about_container{
    gap:32px;
    margin-bottom:32px;
    margin-top:32px;
    display: block;
}

.about_details{
    margin:20px;
    padding: 24px;
    flex:1;
    background: white;
    border-radius: 32px;
    border:2px solid rgba(53, 53, 53, .2);
    border-color: (163,163,163);
    text-align: center;
} 

.experience_name{
    font-weight: 600;
    color: #69acc2;
}

.experience_content{
    padding: 10px;
    display: block;
    justify-content: center;
}

.verifiedIcon{
    margin-right: 10px;
}

.experience_description{
    margin: 20px;
    text-align: left;
}

.experience_detail{
    text-align: right;
    color:grey
}

/* Projects */
#projects{
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0px 40px;
    width:100%;
}

.projects_text{
    margin-top: 20px;
}

.projects_container{
    display: flex;
}

.btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_project{
    color:white;
    background:#213e60;
    border:2px solid rgba(53, 53, 53, .2);
    padding:12px;
    width:128px;
    border-radius: 32px;
    font-weight: 600;
}

.btn_project:hover{
    color:#213e60;
    background:white;
    border:2px solid rgba(53, 53, 53, .2);
}

.about_details p{
    margin: 10px;
    font-size: 14px;
    color: #213e60;
}

/* Review */
#reviews {
    text-align: left;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    /* margin: 0px 40px; */
    width:100%;
    
}

.reviews_container {
    display: block;
    justify-content: center;
}

.review_name,
.about_name {
    text-align: left;
}

.btn_container {
    text-align: left;
}

.review_details{
    border-bottom:2px solid rgba(53, 53, 53, .2);
    margin-top:0px;
    padding: 20px;
}

.review_details p{
    margin-top: 20px;
}

.review_rating{
    font-size: 40px;
    margin-top: 10px;
}

.FreelancerProfile .profile_text{
    padding: 20px;
}

#education_entry input[type="text"],
.experience_content input[type="text"] {
    width: 300px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

#education_entry button,
.experience_content button {
    margin:10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #213e60;
    color: white;
    cursor: pointer;
    font-size: 14px;
  }
  
#education_entry button:hover,
.experience_content button:hover {
    background-color: #69acc2;
  }

  .FreelancerProfile .no_details{
    color: #ccc;
  }