.registerPage{
    background: url("../../../Gallery/login-background.jpg") no-repeat;
    background-size:cover;
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerPage .wrapper h1{
    font-size: 36px;
    text-align: center;
    color: #fff;
}

.registerPage .icon{
    position:absolute;
    left: 40px;
    top:50%;
    color:#213e60;
    transform: translateY(-50%);
}
.registerPage .identity{
    display:flex;
    justify-content: center;
}

.identity-label {
    display: flex;
    align-items: center; /* Align items vertically in the center */
  }

.registerPage .switch{
    size-adjust: 20px;
    transform: translateY(-50%);
}


.remember-forgot label{
    color:white;
}

.registerPage .input-box input::placeholder{
    color:grey;
}

.register-button:hover{
    background-color:#213e60;
    color:white;
    transition: 0.3s ease;
}