
.jl-page-header{
    font-size: 28px;
    font-style: bold;
    margin-top: 2%;
    margin-left: 43%;
}
.jl-centered-container {
    margin-top: 2%;
    display: flex;
    justify-content: center; /* Aligns items horizontally */
    align-items: center; /* Aligns items vertically */
    overflow-y: auto;
}

.modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: flex-end; /* Align modal to the right */
    align-items: center;
    
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
    height: 100%;
    max-width: 600px; /* Limit the maximum width of the modal content */
   
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.close-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.pa-project-details{
    padding: 20px;
    max-width:600px;
    border-radius: 10px;
    overflow-y: auto;
    
}


.pa-project-details p {
    margin-bottom: 0.5rem; /* Add spacing between each element inside project details */
    display: flex;
}

.pa-project-details a{
    font-size: 24px;
}

#about-the-project{
    font-style: bold;
    margin-top: 3%;
    font-size: 18px;
   
}
#key-requirement{
    font-size: 18px;
    margin-top: 3%;
}
#p-title{
   font-size: 36px; 
}

.view-application-header{
    font-size: 34px;
    
}

.kr-list{
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children vertically */
    justify-content: flex-start; /* Align children to the start */
    align-items: flex-start; /* Align children to the start */
    margin-left: 1rem;
    list-style-type: disc; /* This will give you filled dots */
    
}

.button-container{
    max-width: 500px;
    margin-top: 7%;
    display: flex; /* Use flexbox to arrange buttons horizontally */
    justify-content: space-evenly; /* Spread buttons apart */
}
.btn-primary{
    background-color: #213E60;
    padding:9px 28px; /* Adjust padding to increase button size */
    border: none; /* Remove default border */
    font-size: 16px;
    color: white;
    border-radius: 8px; 
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-bottom: 3rem;
}
.btn-secondary{
    background-color: red;
    padding:9px 28px; /* Adjust padding to increase button size */
    border: none; /* Remove default border */
    font-size: 16px;
    color: white;
    border-radius: 8px; 
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-bottom: 3rem;
}
.btn:hover {
    background-color:#6fb9d1; /* Change background color on hover */
}

#status{
   margin-top: 2rem;
   overflow-x: hidden; /* Hide horizontal overflow */
}
.detail-status{
    font-style: italic;
    color: green;
}
.detail-date{
  
    color: grey;
}

.link {
    font-size: 34px;
    color: black; /* Change the link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the text bold */
    transition: color 0.3s; /* Add transition for smooth color change on hover */
  }
  
  .link:hover {
    text-decoration: underline; /* Change color on hover */
    
  }
.statusbar{
    max-width: 500px;
}